@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

#user-input {
    margin-left: 45%;
    text-align: center;
}

#submit-answer {
    margin-left: 47.5%;
    text-align: center;
}